@model Cart

@if (Model == null)
{
    <h3>Карзина пустая</h3>
}
else
{
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Цена</th>
                        <th>Количество</th>
                        <th>Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Items)
                    {
                        <tr>
                            <td>@p.Product.Name</td>
                            <td>@p.Product.Cost</td>
                            <td>@p.Amount</td>
                            <td>@p.FullPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3>Общая стоимость выбранного товара @Model.Cost.ToString("c")</h3>
            <p> <a class="btn btn-success" role="button" href="#">Оформить заказ</a> </p>
        </div>
    </div>
}